iframe {
	width: 100%;
	border: 0;
	min-height: 80%;
	height: 600px;
	display: flex;
}
table.sortable{
	margin-top: 20px;
}
td.reorder{
	text-align: left !important;
}
#loading-img {
    background: url(../img/Velocity.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay {
    background: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.title{
	text-transform: uppercase;
	font-size: 24px;
	width: 350px;
    float: left;
    padding-top: 10px;
    position: absolute;
}
.logo{
	background: url(../img/logo.png) no-repeat;
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.no-footer{
	margin-top: 17px;
} 
.container{
	margin-top: 10px;
}
.dataTable th:last-child {
    padding-right: 0px;
}
.dataTable th:last-child label {
	clear: both;
    float: right;
    width: 234px !important;
}
i.icons {
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}