iframe {
	width: 100%;
	border: 0;
	min-height: 80%;
	height: 600px;
	display: flex;
}
table.sortable{
	margin-top: 20px;
}
td.reorder{
	text-align: left !important;
}
#loading-img {
    background: url(../img/Velocity.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay {
    background: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.title{
	text-transform: uppercase;
	font-size: 24px;
	width: 350px;
    float: left;
    padding-top: 10px;
    position: absolute;
}
.logo{
	background: url(../img/logo-v2.png) no-repeat;
    width: 98%;
    height: 90px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.settings{
    
}
.settingsIcon{
	float: right;
	font-size: 25px;
    margin-top: 35px;
}
.no-footer{
	margin-top: 17px;
} 
.container{
	margin-top: 10px;
}
.dataTable th:last-child {
    padding-right: 0px;
    padding-left: 0px;
}
.dataTable > tbody > tr > td:last-child{
    padding-right: 0px !important;
}
.dataTable th:last-child label {
	clear: both;
    float: right;
    width: 227px !important;
}
.icons {
    margin-right: 9px;
    cursor: pointer;
    margin-top: 10px;
}
i.active.taskIcon, i.active.reminderIcon, i.active.calendarIcon {
    color: #0a72ce;
}
i.keepIcon.active {
    color: #d4cf09d9;
}
.icons{
	width: 20px;
    height: 20px;
    display: inline-block;
}
.icons.taskIcon {
    background: url(../img/task.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.keepIcon {
    background: url(../img/keep.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.icons.reminderIcon {
    background: url(../img/reminder.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.calendarIcon {
    background: url(../img/calendar.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.taskIcon.active {
    background: url(../img/task-active.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.keepIcon.active {
    background: url(../img/keep-active.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.icons.reminderIcon.active {
    background: url(../img/reminder-active.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.calendarIcon.active {
    background: url(../img/calendar-active.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.replyIcon{
	background: url(../img/reply.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.deleteIcon{
	background: url(../img/delete.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icons.resolvedIcon{
	background: url(../img/resolved.png) no-repeat;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.pendingItemIcons {
    width: 30px !important;
    height: 30px !important;
    margin-right: 0px !important;
}
.createdDateTime{
	color: rgb(0,176,240);	
}


table.dataTable thead .sorting {
	background-image: url("none.png") !important;
}	

table.dataTable thead .sorting_asc {
	background-image: url("none.png") !important;
}

table.dataTable thead .sorting_desc {
	background-image: url("none.png") !important;
}

table.dataTable thead .sorting_asc_disabled {
	background-image: url("none.png") !important;
}

table.dataTable thead .sorting_desc_disabled {
	background-image: url("none.png") !important;
}


table.dataTable thead .sorting:after {
	content: url("../images/sort_both.png?v=1") !important;
	margin-left: 2px !important;
}

table.dataTable thead .sorting_asc:after {
	content: url("../images/sort_asc.png?v=1") !important;
	margin-left: 2px !important;
}

table.dataTable thead .sorting_desc:after {
	content: url("../images/sort_desc.png?v=1") !important;
	margin-left: 2px !important;
}

table.dataTable thead .sorting_asc_disabled:after {
	content: url("../images/sort_asc_disabled.png?v=1") !important;
	margin-left: 2px !important;
}

table.dataTable thead .sorting_desc_disabled:after {
	content: url("../images/sort_desc_disabled.png?v=1") !important;
	margin-left: 2px !important;
}


a{
    color: rgb(0,176,240) !important;
}


tbody.shadow > tr > td:first-child {
    border-left:  1px solid rgb(211,211,211) ;
}
tbody.shadow > tr > td:last-child{
	border-right: 1px solid rgb(211,211,211);
}

tbody.shadow > tr:first-child {
    border-top:  1px solid rgb(211,211,211) ;
}
 table.dataTable{
	border-bottom: 1px solid rgba(211,211,211, 1) !important;
}
thead tr th, tbody.shadow {
	border-bottom: 1px solid rgba(0,0,0,0) !important;
}

tbody.shadow {
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
th, th label {
    font-weight: 500 !important;
}