iframe {
	width: 100%;
	border: 0;
	min-height: 80%;
	height: 600px;
	display: flex;
}
table.sortable{
	margin-top: 20px;
}
td.reorder{
	text-align: left !important;
}
#loading-img {
    background: url(../img/Velocity.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay {
    background: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.title{
	text-transform: uppercase;
	font-size: 24px;
	width: 350px;
    float: left;
    padding-top: 10px;
    position: absolute;
}
.logo{
	background: url(../img/logo.png) no-repeat;
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.no-footer{
	margin-top: 17px;
} 
.container{
	margin-top: 10px;
}
.dataTable th:last-child {
    padding-right: 0px;
    padding-left: 0px;
}
.dataTable > tbody > tr > td:last-child{
    padding-right: 0px !important;
}
.dataTable th:last-child label {
	clear: both;
    float: right;
    width: 234px !important;
}
.icons {
    margin-right: 14px;
    cursor: pointer;
    margin-top: 10px;
}
i.active.taskIcon, i.active.reminderIcon, i.active.calendarIcon {
    color: #0a72ce;
}
i.keepIcon.active {
    color: #d4cf09d9;
}
.icons.googleIcons{
	width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
}
.icons.taskIcon {
    background: url(../img/task.png) no-repeat;
}

.icons.keepIcon {
    background: url(../img/keep.png) no-repeat;
}
.icons.reminderIcon {
    background: url(../img/reminder.png) no-repeat;
}

.icons.calendarIcon {
    background: url(../img/calendar.png) no-repeat;
}

.icons.taskIcon.active {
    background: url(../img/task-active.png) no-repeat;
}

.icons.keepIcon.active {
    background: url(../img/keep-active.png) no-repeat;
}
.icons.reminderIcon.active {
    background: url(../img/reminder-active.png) no-repeat;
}

.icons.calendarIcon.active {
    background: url(../img/calendar-active.png) no-repeat;
}

.icons.replyIcon{
	background: url(../img/reply.png) no-repeat;
}

.icons.deleteIcon{
	background: url(../img/delete.png) no-repeat;
}

.icons.resolvedIcon{
	background: url(../img/resolved.png) no-repeat;
}